<app-default-login-layout
    title="Cadastre-se"
    primaryBtnText="Signup Now"
    secondaryBtnText="Login Now"
    (submit)="submit()"
    (navigate)="navigate()"
    [disablePrimaryBtn]="signupForm.invalid"
>
    <form [formGroup]="signupForm">
        <app-primary-imput
        formControlName="fullName"
        inputName="fullName"
        type="text"
        label="Nome Completo"
        placeholder="João da Silva"
        >
        <img src="/assets/svg/email-icon.svg"/>
        </app-primary-imput>
        <app-primary-imput
        formControlName="role"
        inputName="role"
        type="text"
        label="Cargo"
        placeholder="Fisioterapeuta"
        >
        <img src="/assets/svg/email-icon.svg"/>
        </app-primary-imput>
        <app-primary-imput
        formControlName="cpf"
        inputName="cpf"
        type="text"
        label="CPF"
        >
        <img src="/assets/svg/email-icon.svg"/>
        </app-primary-imput>
        <!-- Adicione este campo dentro do <form> -->
        <label>
        <input type="checkbox" formControlName="canSign" />
        Pode Assinar?
        </label>
        <app-primary-imput
            formControlName="username"
            inputName="username"
            type="text"
            label="User"
            placeholder="João" 
        > 
            <img src="/assets/svg/email-icon.svg"/>
        </app-primary-imput>
        <app-primary-imput
            formControlName="password"
            inputName="password"
            type="password"
            label="Your Password"
            
        > 
            <img src="/assets/svg/password-icon.svg"/>
        </app-primary-imput>
        <app-primary-imput
            formControlName="passwordConfirm"
            inputName="passwordConfirm"
            type="password"
            label="Confirme sua Senha"
            
        > 
            <img src="/assets/svg/password-icon.svg"/>
        </app-primary-imput>
        
        
    </form>
</app-default-login-layout>