<app-default-login-layout
    title="Faça seu Login"
    primaryBtnText="Login"
    secondaryBtnText="Cadastre-se"
    (submit)="submit()"
    (navigate)="navigate()"
    [disablePrimaryBtn]="loginForm.invalid"
>
    <form [formGroup]="loginForm">
        <app-primary-imput
            formControlName="user"
            inputName="user"
            type="text"
            label="Usuario"
            placeholder="Seu usuario"
        > 
            <img src="/assets/svg/email-icon.svg"/>
        </app-primary-imput>
        <app-primary-imput
            formControlName="password"
            inputName="password"
            type="password"
            label="Sua Senha"
            
        > 
            <img src="/assets/svg/password-icon.svg"/>
        </app-primary-imput>
        <span>Esqueceu sua senha?</span>
    </form>
</app-default-login-layout>